<!--include header-->
<%- include('include/_homepage_header') %>
<!--/include header-->
<!--include header-->
<%- include('include/_addNote_form') %>
<!--/include header-->
                </div>
            </div>
        </div>
    </center>
</body>
</html>