<!--include header-->
<%- include('include/_homepage_header') %>
<!--/include header-->
<div class="title">Favorites Notes</div>
<div class="notes-space">
    <%- include('include/_show_notes') %>
                </div>
            </div>
        </div>
    </center>
</body>
</html>