<!--include header-->
<%- include('include/_homepage_header') %>
<!--/include header-->
<div class="title">Notes</div>
<div class="notes-space">
<%- include('include/_show_notes') %>
<a href="add-note" id="addNoteBox"><div class="note-ad" style="background-color:#D9D9D9;">+</div></a>
                </div>
            </div>
        </div>
    </center>
</body>
</html>