@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root{
    --rich_black: #11151C;
    --rich_black_darker: #3e3e40;
    
    --prusian_blue: #212d40;
    --prusian_blue_darker: #101928;
    
    --charcoal: #364156;
    --charcoal_darker: #172134;
    
    --rose_taupe: #7d3e57;
    --rose_taupe_darker: #522034;
    
    --jasper: #d66853;
    --jasper_darker: #be533e;
    
    --white: #ffffff;
    --white_hover: #f6dcdc;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}
body {
    background-color: #D0DBE5;
}
.container {
    display: grid;
    grid-template-columns: 100px 1fr;
    height: 94vh;
    width: 95vw;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 30px;
    height: fit-content;
}
.menu_list {
    margin-top: 60px;
    flex-direction: row;
    align-items: center;
    position: relative;
    position: sticky;
}
.menu_list li  {
    list-style-type: none;
    text-decoration: none;
}
.menu_list li img {
    object-fit: contain;
    height: 60%;
    width: 60%;
}
.side_menu_box .circle {
    margin-bottom: 30px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    color : #ffffff;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
#profile {
    text-decoration: none;
    background-color: var(--rich_black);
}
#profile:hover {
    background-color: var(--rich_black_darker);
    text-decoration: none;
}

a {
    text-decoration: none;
    list-style-type: none;
}

#favorite {
    background-color: var(--rose_taupe);
}
#favorite:hover {
    background-color: var(--rose_taupe_darker);
}

#add {
    background-color: var(--charcoal);
}
#add:hover {
    background-color: var(--charcoal_darker);
}

#logout {
    background-color: var(--charcoal);
}
#logout:hover {
    background-color: var(--charcoal_darker);
}

#homepage {
    background-color: var(--white);
}
#homepage:hover {
    background-color: var(--white_hover);
}

.vertical_line { 
    position: absolute;
    left:140px;
    top: 0px;
    border-left: 3px solid #D0DBE5;
    height: 100%;
}
.note_container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: max-content;
}

.note_container .title {
    margin-top: 60px;
    margin-left: 60px;
    width: 100%;
    height: 60px;
    display: flex;
    font-size: 40px;
}

.notes-space {
    display: grid;
    margin: 90px 200px;
    grid-gap: 20px;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr))
}

.note {
    height: 220px;
    width: 220px;
    border-radius: 10px;
    background-color: #7d3e57;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.note-ad {
    height: 220px;
    width: 220px;
    border-radius: 10px;
    background-color: #7d3e57;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    color: #ffffff;
    font-size: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.note p {
    padding: 40px 10px 10px 10px;
    text-align:left;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}

#addNoteBox {
    height: 220px;
    width: 220px;
}

